<form action="/login" method="POST">
    <div class="d-grid gap-2 mt-2">
        <a href="/authenticate/google" class="btn btn-danger border-0">
        <i class="fa fa-google"></i>
        Login with Google
        </a>
    </div>
    <div class="d-grid gap-2 mt-2">
        <a href="/authenticate/instagram" class="btn btn-dark border-0">
        <i class="fa fa-slack"></i>
        Login with Instagram
        </a>
    </div>
    <div class="d-grid gap-2 mt-2">
        <a href="/authenticate/pinterest" class="btn btn-dark border-0">
        <i class="fa fa-slack"></i>
        Login with Pinterest
        </a>
    </div>
</form>