<header class="bg-dark py-5" style="background-image: url('img/image.png')">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center" id="header-text">
            <h1 class="display-4 fw-bolder text-white">Shop in style</h1>
            <p class="lead fw-normal text-50 mb-0 text-white">With this shop hompeage template</p>
        </div>
    </div>
</header>