nav img {
  width: 40px;
  border-radius: 100%;
  margin-left: 20px;
}

.card-img-top-wrapper {
  overflow: hidden;
  margin: 1rem;
  border-radius: 0.5rem;
  max-height: 200px;
}

/* .card-img-top {
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
} */
