nav img {
  width: 40px;
  border-radius: 100%;
  margin-left: 20px;
}

.card-img-top-wrapper {
  overflow: hidden;
  margin: 1rem;
  border-radius: 0.5rem;
  max-height: 200px;
}

.home-navbar {
  text-decoration: none;
  color: gray;
}

.image-user-navbar {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100px;
}

.recipe-image {
  max-width: 100%;
  height: 200px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 4px;
}

header,
#img-login {
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  max-height: 750px;
  position: relative;
  display: flex;
  align-items: center;
}

#img-login {
  z-index: -1;
  height: 100vh;
  position: absolute;
  width: 100vw;
  top: 0;
}

#recipe-link {
  text-decoration: none;
  color: #157347;
}
/*Form view */

.container-slider {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Detail view */

#recipe-card {
  display: flex;
  box-sizing: border-box;
}

.recipe-card-img {
  max-width: 100%;
  height: 350px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.core-feature-icons {
  padding: 0rem 0rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#cooking-time,
#servings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l-col-left,
.l-col-right {
  padding: 2rem 0rem;
  display: inline-block;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

i {
  margin-right: 10px;
}

.l-content {
  display: flex;
  align-items: center;
}

#search {
  flex-grow: 1;
  height: 42px;
  margin-top: 45px;
  margin-bottom: 30px;
}
#search input {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: inline;
}

#search i {
  display: inline;
}

#upload-image {
  display: block;
}

#search .input-group {
  width: 100%;
}

#search input {
  flex-grow: 1;
}

#ingredients ul {
  list-style: none;
  margin-left: -15px;
}

#recipe-rating label {
  display: block;
}

.title-color {
  color: #157347;
}

.choices__list--multiple .choices__item {
  background-color: #157347 !important;
  border: 1px solid #11603b !important;
}

.is-flipped .choices__list--dropdown {
  bottom: 0 !important;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #11603b63 !important;
}

.rounded-circle {
  border-radius: 50% !important;
  width: 40px;
}
