recipe= {{recipe}}
recipeKeyWord={{recipe.keyWords}}

<form class method="POST" enctype="multipart/form-data">

    <div class="card-deck row">
        {{#each keyWords as |keyWord|}}
        <div class="card col-3">
            <div class="card-body">
                <h5 class="card-title">{{recipe.keyWord}}</h5>
            </div>
        </div>
        {{/each}}
    </div>
</form>