<div class="row">
  <div class="col-3">
    <h1>{{recipe.title}}</h1>
    <img src="{{recipe.image}}" class="w-100 rounded border" />

  </div>

  <div class="col-9">
    <small>{{recipe.keyWords}}</small>
    {{{recipe.directions}}}
  </div>
</div>

<!-- aqui pueden ir recetas similares-->